{% extends 'adminlte/login.html'%}
{% load crispy_forms_tags%}
{% block title %} Login {% endblock %}
{% block content %}
{% block logo_text %}<b>Log</b> in{% endblock %}
{% block login_form%}
<div class="login_form">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log in</legend>
            {{ form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Log in</button>
        </div>
        {% block login_form_links %}
    <div>
        <div class="border-top pt-3">
            <small class="text-muted">Doesn't have an account? <a class="ml-2" href="{% url 'register' %}">Sing up</a></small>

        </div>
    </div>
{% endblock login_form_links %}
    </form>
{% endblock login_form%}

</div>
{% endblock content %}