{% extends "base.html" %}
{% block title %} Logout {% endblock %}
{% block content %}
<div class="content-section">
    <h2>You have been log out</h2>
    <div>
        <div class="border-top pt-3">
           <a href="{% url 'login' %}">Log in again</a>
        </div>
    </div>
</div>
{% endblock content %}