{% extends 'adminlte/login.html'%}
{% load crispy_forms_tags%}
{% block content %}
{% block logo_text %}<b>Sing</b> up{% endblock %}
{% block login_form%}
<form action="" method="post">
    <div class="field">
        {{ userform.first_name.errors }}
        {{ userform.first_name|as_crispy_field }}
    </div>
    <div class="field">
        {{ userform.last_name.errors }}
        {{ userform.last_name|as_crispy_field }}
    </div>
    <div class="field">
        {{ userform.email.errors }}
        {{ userform.email|as_crispy_field }}
    </div>
    <div class="field">
        {{ userform.username.errors }}
        {{ userform.username|as_crispy_field }}
    </div>
    <div class="field">
        {{ userform.password1.errors }}
        {{ userform.password1|as_crispy_field }}
    </div>
    <div class="field">
        {{ userform.password2.errors }}
        {{ userform.password2|as_crispy_field }}
    </div>
    <div class="field">
        {{ userprofileform.address.errors }}
        {{ userprofileform.address|as_crispy_field }}
    </div>
    <div class="field">
        {{ userprofileform.city.errors }}
        {{ userprofileform.city|as_crispy_field }}
    </div>
    <div class="field">
        {{ userprofileform.post.errors }}
        {{ userprofileform.post|as_crispy_field }}
    </div>
    {% csrf_token %}
            <div class="form-group">
            <button class="submit" type="submit">Sing up</button>
        </div>
            {% block login_form_links %}
    <div>
        <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a class="ml-2" href="{% url 'login' %}">Sing op</a></small>

        </div>
    </div>
{% endblock login_form_links %}
</form>
{% endblock %}
{% endblock content %}