{% extends "base.html" %}
{% block content %}

<div class="box">
            <div class="box-header">
              <h3 class="box-title">Responsive Hover Table</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>name</th>
                  <th>path</th>
                  <th>user_id</th>
                  <th>status_id</th>
                  <th>created_at</th>
                  <th>updated_at</th>
                  <th>type_id</th>
                </tr>
                  {% for item in source %}
                  <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                      <td><a class="label label-primary" href={{item.path}}>File</a></td>
                  <td>{{item.user_id}}</span></td>
                      <td><span class="label label-success">{{item.status_id}}</span></td>
                  <td>{{item.created_at}}</td>
                  <td>{{item.updated_at}}</td>
                  <td>{{item.type_id}}</td>
                </tr>
                  {% endfor %}

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
{% endblock content %}