{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block title %}File Upload{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div> <strong>{{message|safe}}</strong> </div>
    {% endfor %}
{% else %}
{{order}}
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <label>Upload the file</label>
    <input type="file" name="file"/>
    <p>Only CSV please!</p>
    <button type="submit">Upload</button>

</form>
{% endif %}
{% endblock content %}
