{% extends 'adminlte/lib/_main_sidebar.html' %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
{% block nav_links %}
    <li>
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Home</span>
        </a>
    </li>
    <li>
        <a href="/login/">
           <i class="fa fa-sign-in"></i> <span>Login</span>
        </a>
    </li>
    <li>
        <a href="/register/">
            <i class="fa fa-user-plus"></i> <span>Register</span>
        </a>
    </li>
    <li>
        <a href="/logout/">
            <i class="fa fa-sign-out"></i> <span>Log out</span>
        </a>
    </li>
    <li>
        <a href="/detail/">
            <i class="fa fa-cloud-upload"></i> <span>Upload File</span>
        </a>
    </li>
{% endblock nav_links %}